@import './globalStyles.scss';

.menu-container{
  width: 100%;
  height: 100%;
}

.username-popup{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  display: flex;
  padding-top: 10rem;
  justify-content: center;
}

.username-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  opacity: 1;
  padding: 1rem;
  height: fit-content;
  border-radius: 10px;
}

.username-input-label{
  text-align: center;
  font-weight: bold;
}

.username-submit-button{
  width: 50%;
}

.menu-background-image{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  //background-image: url("https://www.shutterstock.com/shutterstock/photos/1890767740/display_1500/stock-photo--d-render-number-one-glowing-in-the-dark-pink-blue-neon-light-1890767740.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size:cover;
  opacity: 0.6;
}

.menu-main-options{
}

.mm-link{
  //@extend .button-base;
  all: unset;
  margin-bottom: 1.5rem;
  font-family: "Bank Sans";
  width: 50%;
  font-size: 2rem;
  font-style: italic;
  
}

.mm-link:hover{
  color: orange;
  animation: mm-link-slide 0.2s forwards ease-in-out;
  &::before{

  }
}

@keyframes mm-link-slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(80px);
  }
}

@keyframes grow {
  from{ transform: scale(1); }
  to { transform: scale(1.1); }
}

//insane how sass functions work
/* @function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

$primary-color: #036;
.menu-header {
  background-color: invert($primary-color, 80%);
} */